<main>
    
    <div class="item">
        <div class="dice-img"><img src="/assets/images/dice-1.png" alt="Default Dice" /></div>
        {{#if loggedIn}}
            <button id="roll-dice">Roll Dice!</button>
        {{/if}}
    </div>

    <div class="item">
        <div class="card flip">
            <div class="card-wrap">
                <div class="card-style card-img"></div>
                <div class="card-style card-back"></div>
            </div>
        </div>
        
        {{#if loggedIn}}
            <button id="pick-card">Pick a Card!</button>
        {{/if}}
    </div>

</main>


<div class="stream-toggle">
    <button>Stream Toggle</button>
</div>
<script src="/assets/js/green-screen.js"></script>


<script src="/assets/js/socket.js"></script>