<div class="dice">
    <div class="dice-img"></div>
    <button id="roll-dice">Roll Dice!</button>
</div>

<div class="card">
    <div class="card-img"></div>
    <button id="pick-card">Pick a Card!</button>
</div>

<script src="/assets/js/socket.js"></script>