<main>
    
    <div class="item">
        <div class="spin">Spin wheel goes here</div>
        {{#if loggedIn}}
            <button id="roll-dice">Roll Dice!</button>
        {{/if}}
    </div>

    <div class="item">
        <div class="card-stack">
            <div class="card flip card-hidden">
                <div class="card-wrap">
                    <div class="card-style card-img"></div>
                    <div class="card-style card-back"></div>
                </div>
            </div>
            <div class="card flip right card-hidden">
                <div class="card-wrap">
                    <div class="card-style card-img"></div>
                    <div class="card-style card-back"></div>
                </div>
            </div>
            <div class="card flip left card-hidden">
                <div class="card-wrap">
                    <div class="card-style card-img"></div>
                    <div class="card-style card-back"></div>
                </div>
            </div>
        </div>
        
        {{#if loggedIn}}
            <select name="card-type" id="pick-card-type">
                <option value="select-type">Select Type of Card</option>
                <option value="career">Career</option>
                <option value="house">House</option>
                <option value="action">Action</option>
            </select>
            <button id="pick-card" class="hidden">Pick a Card!</button>
        {{/if}}
    </div>

</main>


<div class="stream-toggle">
    <button>Stream Toggle</button>
</div>
<script src="/assets/js/green-screen.js"></script>


<script src="/assets/js/socket-life.js"></script>