<main class="life">
    
    <div class="item">
        <div class="spin" data-type="numbers">
            <img src="/assets/images/LIFE/spinner/spinner-base.svg" alt="Spinner base" class="spinner" />
            
            <img src="/assets/images/LIFE/spinner/spinner-numbers.svg" alt="Number Spinner with numbers 1-10" class="spinner numbers" />
            <img src="/assets/images/LIFE/spinner/spinner-fate.svg" alt="Fate Spinner with taxes, 100k, action, new career, house, baby" class="spinner fate hidden initial" />

            <img src="/assets/images/LIFE/spinner/spinner-center.svg" alt="Center of spinner that has alternating red and black" class="spinner" />

            <img src="/assets/images/LIFE/spinner/spinner-arrow.svg" alt="Arrow that points to which item has been spun" class="arrow" />
            <div class="winning-result hidden" id="spin-result">
                <span class="rb-circle hidden" alt="Red or Black"></span>
                <p></p>
            </div>
        </div>
        {{#if loggedIn}}
            <button id="spin-wheel">Spin the wheel!</button>
            <div class="other-btns">
                <button id="toggle-wheel">Fate Wheel</button>
                <button id="spin-result-reset">Close Spin Result</button>
            </div>
        {{/if}}
    </div>

    <div class="item">
        <div class="card-stack" data-type="reset">
            <div class="card bottom flip card-hidden">
                <div class="card-wrap">
                    <div class="card-style card-img"></div>
                    <div class="card-style card-back">
                        <img src="/assets/images/LIFE/lifelogo.png" alt="Game of Life" />
                        <span class="card-title"></span>
                    </div>
                </div>
            </div>
            <div class="card right flip card-hidden" {{#if loggedIn}}data-num=""{{/if}}>
                <div class="card-wrap">
                    <div class="card-style card-img"></div>
                    <div class="card-style card-back">
                        <img src="/assets/images/LIFE/lifelogo.png" alt="Game of Life" />
                        <span class="card-title"></span>
                    </div>
                </div>
            </div>
            <div class="card left flip card-hidden" {{#if loggedIn}}data-num=""{{/if}}>
                <div class="card-wrap">
                    <div class="card-style card-img"></div>
                    <div class="card-style card-back">
                        <img src="/assets/images/LIFE/lifelogo.png" alt="Game of Life" />
                        <span class="card-title"></span>
                    </div>
                </div>
            </div>
        </div>
        
        {{#if loggedIn}}
            <div class="card-face-options" id="pick-card-type">
                <button id="pick-career">Career</button>
                <button id="pick-house">House</button>
                <button id="pick-action">Action</button>
                <div class="other-btns">
                    <button id="card-reset">Reset Cards</button>
                </div>
            </div>
        {{/if}}
    </div>
</main>

{{#if loggedIn}}
{{!-- For logged-in view only --}}
    <div class="personal-view">
        <div class="my-cards">
            <h3>My Cards</h3>
            <p class="no-cards-msg">There are currently no cards selected.</p>
            <div class="card-list"></div>
        </div>
        <button id="how-to-play">
            How to Play
            <i>(Opens in new window)</i>
        </button>
    </div>
{{/if}}

<script src="/assets/js/life-info.js"></script>
<script src="/assets/js/socket-life.js"></script>