<main class="life">
    <div class="item spinner-wrap{{#unless loggedIn}} none{{/unless}}">
        <div class="spin" data-type="numbers">
            <div class="spin-wheel">
                <img src="/assets/images/LIFE/spinner/spinner-base.svg" alt="Spinner base" class="spinner" />
            
                <img src="/assets/images/LIFE/spinner/spinner-numbers.svg" alt="Number Spinner with numbers 1-10" class="spinner numbers" />
                <img src="/assets/images/LIFE/spinner/spinner-fate.svg" alt="Fate Spinner with taxes, 100k, action, new career, house, baby" class="spinner fate hidden initial" />

                <img src="/assets/images/LIFE/spinner/spinner-center.svg" alt="Center of spinner that has alternating red and black" class="spinner" />
            </div>

            <img src="/assets/images/LIFE/spinner/spinner-arrow.svg" alt="Arrow that points to which item has been spun" class="arrow" />
            <div class="winning-result hidden" id="spin-result">
                <span class="rb-circle hidden" alt="Red or Black"></span>
                <p></p>
            </div>
        </div>
        {{#if loggedIn}}
            <button id="spin-wheel">Spin the wheel!</button>
            <div class="other-btns">
                <button id="toggle-wheel">Fate Wheel</button>
                <button id="spin-result-reset">Close Spin Result</button>
            </div>
        {{/if}}
    </div>

    <div class="item cards-wrap{{#unless loggedIn}} none{{/unless}}">
        <div class="card-stack" data-type="reset">
            <div class="card bottom flip card-hidden">
                <div class="card-wrap">
                    <div class="card-style card-img"></div>
                    <div class="card-style card-back">
                        <img src="/assets/images/LIFE/lifelogo.png" alt="Game of Life" />
                        <span class="card-title"></span>
                    </div>
                </div>
            </div>
            <div class="card right flip card-hidden" {{#if loggedIn}}data-num=""{{/if}}>
                <div class="card-wrap">
                    <div class="card-style card-img"></div>
                    <div class="card-style card-back">
                        <img src="/assets/images/LIFE/lifelogo.png" alt="Game of Life" />
                        <span class="card-title"></span>
                    </div>
                </div>
            </div>
            <div class="card left flip card-hidden" {{#if loggedIn}}data-num=""{{/if}}>
                <div class="card-wrap">
                    <div class="card-style card-img"></div>
                    <div class="card-style card-back">
                        <img src="/assets/images/LIFE/lifelogo.png" alt="Game of Life" />
                        <span class="card-title"></span>
                    </div>
                </div>
            </div>
        </div>
        
        {{#if loggedIn}}
            <div class="card-face-options" id="pick-card-type">
                <button id="pick-career">Career</button>
                <button id="pick-house">House</button>
                <button id="pick-action">Action</button>
                <div class="other-btns">
                    <button id="card-reset">Reset Cards</button>
                    <button id="card-retire">Turn on Bucket List</button>
                </div>
            </div>
        {{/if}}
    </div>
</main>

{{#if loggedIn}}
{{!-- For logged-in view only --}}
    <div class="personal-view">
        <div class="my-cards">
            <h3>My Cards</h3>
            <p class="no-cards-msg">There are currently no cards selected.</p>
            <div class="card-list"></div>
        </div>
        <div class="ez-calculator">
            <h3>Calculator</h3>
            <div class="calc-wrap">
                <form class="calc-item">
                    <label for="calc-money"><img src="/assets/images/LIFE/icons/money.svg" alt="Money" /> Money</label>
                    <input type="number" id="calc-money" name="calc-money" min="0" value="0">
                </form>
                <form class="calc-item">
                    <label for="calc-loans"><img src="/assets/images/LIFE/icons/taxes.svg" alt="Loans" /> Loans</label>
                    <input type="number" id="calc-loans" name="calc-loans" min="0" value="0">
                </form>
                <hr />
                <form class="calc-item calc-attr">
                    <label for="calc-heart"><img src="/assets/images/LIFE/icons/heart.svg" alt="Happiness" /></label>
                    <input type="number" id="calc-heart" name="calc-heart" min="0" value="0">
                    <span>
                        <input type="checkbox" id="crown-heart" name="crown-heart" value="I have the crown">
                        <label for="crown-heart">I have the crown</label>
                    </span>
                </form>
                <form class="calc-item calc-attr">
                    <label for="calc-book"><img src="/assets/images/LIFE/icons/book.svg" alt="Knowledge" /></label>
                    <input type="number" id="calc-book" name="calc-book" min="0" value="0">
                    <span>
                        <input type="checkbox" id="crown-book" name="crown-book" value="I have the crown">
                        <label for="crown-book">I have the crown</label>
                    </span>
                </form>
                <form class="calc-item calc-attr">
                    <label for="calc-pig"><img src="/assets/images/LIFE/icons/pig.svg" alt="Wealth" /></label>
                    <input type="number" id="calc-pig" name="calc-pig" min="0" value="0">
                    <span>
                        <input type="checkbox" id="crown-pig" name="crown-pig" value="I have the crown">
                        <label for="crown-pig">I have the crown</label>
                    </span>
                </form>
                <hr />
                <div class="calc-item calc-total">
                    Total: <span id="calc-total">0</span>
                </div>
            </div>
        </div>
        <button id="how-to-play">
            How to Play
            <i>(Opens in new window)</i>
        </button>
    </div>

    <div class="item stream-view">
        <h2>Stream Display:</h2><br />
        <button id="stream-none" class="selected">None</button>
        <button id="stream-spinner">Spinner</button>
        <button id="stream-cards">Cards</button>
    </div>
{{/if}}

<script src="/assets/js/life-info.js"></script>
<script src="/assets/js/socket-life.js"></script>