<div class="login">
    <h1 class="title">DrGluon's Dice Roll</h1>
    <form class="login">
        <label for="secret-code">Enter the code to share the dice!</label>
        <input type="text" id="secret-code" />
        <button type="submit">Let's Play!</button>
    </form>
</div>

<script src="/assets/js/login.js"></script>