:root {
    --career: #1491d2;
    --house: #f97d2b;
    --action: #f8c837;
    --family: #dd2877;
    --dark: #1d2328;
}

@font-face {
    font-family: 'Dimbo';
    src: url('fonts/DimboRegular.eot');
    src: url('fonts/DimboRegular.eot') format('embedded-opentype'),
         url('fonts/DimboRegular.woff2') format('woff2'),
         url('fonts/DimboRegular.woff') format('woff'),
         url('fonts/DimboRegular.ttf') format('truetype'),
         url('fonts/DimboRegular.svg#DimboRegular') format('svg');
}

body {
    overflow-x: hidden;
}

main.life {
    font-family: 'Dimbo', 'Akshar', sans-serif;
    font-weight: 500;
    user-select: none;
    gap: 150px;
    padding: 50px;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

button {
    margin: 10px 2px 0;
    opacity: 1;
    z-index: 100;
    position: relative;
}
/* select {
    font-family: 'Fredoka One', cursive;
    font-size: 1.2em;
    line-height: 1;
    border: none;
    padding: 12px 35px 12px 15px;
    border-radius: 8px;
    color: var(--family);
    text-transform: uppercase;
    display: block;
    appearance: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dd2877' stroke-linecap='round' stroke-linejoin='round' stroke-width='5' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-position: right 0.75rem center;
    background-repeat: no-repeat;
    background-size: 16px 12px;
} */
main .item button, .stream-toggle button {
    color: var(--family);
}

button#pick-career {
    background-color: var(--career);
}
button#pick-house {
    background-color: var(--house);
}
button#pick-action {
    background-color: var(--action);
}
button#pick-career, button#pick-house, button#pick-action {
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,.4);
}

.other-btns button {
    padding: 10px;
    font-size: .8em;
    background-color: var(--family)!important;
    color: #fff!important;
}
.other-btns button#toggle-wheel {
    background-color: #9465eb!important;
}

button.disabled {
    opacity: .8;
    filter: grayscale(1);
}

.card-stack {
    position: relative;
    width: var(--width);
    height: calc(var(--width) + 100px);
    margin-bottom: 40px;
    margin-left: 6px;
}

.card {
    transition: all 0.5s ease-in-out;
    position: absolute;
    left: 10px;
}
.card:hover {
    cursor: pointer;
}

.card-back {
    background-color: white;
    background-image: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.card-back img {
    transform: scaleX(-1);
}

.card-back.career {
    background-color: var(--career);
}
.card-back.house {
    background-color: var(--house);
}
.card-back.action {
    background-color: var(--action);
}

.card-back .card-title {
    transform: scaleX(-1);
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    font-size: 2.7em;
    margin: 20px 0;
    width: 100%;
}
.card-style {
    box-shadow: 2px 2px 5px rgba(0,0,0,.08);
}

.card-show {
    animation: cardShow 500ms ease-in-out 1 both;
}
.card-hidden {
    opacity: 0;
    pointer-events: none;
    animation: cardHide 500ms ease-in-out 1 both;
}
@keyframes cardShow {
    from {transform: translate(200vw, 0) rotateY(180deg);}
    to {transform: translate(0, 0) rotateY(180deg);}
}
@keyframes cardHide {
    from {transform: translate(0, 0) rotateY(180deg);}
    to {transform: translate(200vw, 0) rotateY(180deg);}
}

.move-left {
    transition: all 0.5s ease-in-out;
    position: absolute;
    left: -160px;
}
.move-right {
    transition: all 0.5s ease-in-out;
    position: absolute;
    left: 160px;
}


.card-img {
    transform: scaleX(-1);
    color: var(--dark);
    font-family: 'Dimbo', 'Akshar', sans-serif;
}
.card-img hr {
    height: 1px;
    width: 100%;
    border-top: 1px solid var(--house);
    margin: 10px 0;
    opacity: .4;
}
.card-img p {
    font-family: 'Dimbo', 'Akshar', sans-serif;
}
.card-img h1 {
    color: var(--dark);
    font-size: 2.2em;
    margin-bottom: 10px;
    font-weight: 500;
}
.card-img .career-img {
    border-radius: 20px;
}

.salary-table {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 15px;
}
.salary-table ul {
    list-style-type: none;
    margin: 0;
}
.salary-table li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    gap: 8px;
}
.salary-table img {
    width: 38px; height: 38px;
}
.salary-table h2 img {
    width: 18px; height: 18px;
    display: inline-block;
}
.salary-table h2 {
    font-size: 1.4em;
    font-weight: 500;
}
.salary-table .salary li {
    color: #9465eb;
}
.salary-table .taxes li {
    color: #e00006;
}

.card-img .house-description {
    font-family: 'Lato', sans-serif;
    font-size: .9em;
    color: var(--dark);
    margin-top: 5px;
}
.card-img .house-price {
    background-color: var(--house);
    color: #fff;
    font-size: 1.8em;
    text-shadow: 1px 1px 0 rgba(0,0,0,.4);
    padding: 8px 8px 6px 8px;
    border-radius: 8px;
    margin-top: 8px;
}
.sell-house {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
}
.sell-house span {
    font-size: 2em;
    transform: rotate(-10deg);
    font-weight: 700;
    color: var(--house);
}
.sell-house p {
    font-size: 1.5em;
    color: var(--dark);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    margin: 0;
}
.sell-house img {
    width: 30px; height: 30px;
    margin-bottom: 2px;
}
.sell-house .sell-prices {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
}
.sell-house .sell-loss {
    color: #e00006;
}
.sell-house .sell-gain {
    color: var(--dark);
}


/* .hidden {
    transition: all 0.5s ease-in-out;
    opacity: 0;
    pointer-events: none;
} */

.spin {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--family);
    position: relative;
}
.spinner {
    position: absolute;
    width: 500px;
    height: 500px;
    transition: transform 5s cubic-bezier(.18,.05,.17,1);
}

.spinner.fate.show {
    animation: fateShow 800ms ease-in-out 1 both;
}
.spinner.fate.hidden {
    pointer-events: none;
    animation: fateHide 800ms ease-in-out 1 both;
}
@keyframes fateShow {
    0% { scale: 0; }
    80% { scale: 1.2; }
    100% { scale: 1; }
}
@keyframes fateHide {
    0% { scale: 1; }
    20% { scale: 1.2; }
    100% { scale: 0; }
}

.spin .arrow {
    position: absolute;
    top: -50px;
    width: 50px;
    height: 150px;
    transform-origin: top center;
    z-index: 5;
}

.winning-result {
    display: block;
    background-color: transparent;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,.3);
    padding: 25px 30px 10px;
    line-height: 1;
    font-size: 8em;
    text-transform: uppercase;
    position: absolute;
    z-index: 9;
    transform: scale(1) skew(-4deg, -4deg);
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.winning-result.hidden {
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}
.winning-result p {
    transform: skew(4deg, 4deg);
}
.rb-circle {
    transform: skew(4deg, 4deg) rotate(45deg);
    width: 50px;
    height: 50px;
    display: block;
    margin-top: -18px;
    border: 8px solid #fff;
}
.rb-circle.hidden {
    display: none;
}

.info-panel {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    color: #000;
}

.no-transition {
    transition: none 0s linear;
}
.initial {
    opacity: 0;
    pointer-events: none;
    transition: none 0s linear;
}
.disabled {
    pointer-events: none;
}