:root {
    --width: 300px;
    --fez: #D90C00;
    --bee: #FBE509;
    --candy: #db30b9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka One', cursive;
  font-size: 16px;
  line-height: 1;
  background-color: #222;
  color: #FFF;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

button,
button:hover {
  transition: all 0.5s ease-in-out;
}

button {
    font-family: 'Fredoka One', cursive;
    font-size: 1.2em;
    line-height: 1;
    border: none;
    padding: 15px;
    border-radius: 8px;
    text-transform: uppercase;
}
button:hover {
    cursor: pointer;
}

.login-page {
    background-color: #FFF;
    color: #222;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 1px 1px 6px #000;
    width: 600px; max-width: 100%;
}
.login-page h1 {
    font-family: 'Luckiest Guy', cursive;
    font-family: 400;
    font-size: 3em;
    color: var(--fez);
    margin: 0 0 15px;
}
.login label, .login input {
    width: 100%;
    font-size: 1.5em;
}
.login input {
    font-family: 'Luckiest Guy', cursive;
    padding: 15px 15px 10px;
    font-size: 2.6em;
    line-height: 1;
    text-align: center;
    margin: 12px;
    color: #222;
    text-transform: uppercase;
}
.login input:focus {
    outline: none;
    border: 1px solid var(--fez);
}
.login button {
    background-color: var(--fez);
    color: #FFF;
}
.login button:hover {
    background-color: var(--bee);
    color: #222;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
main .item {
    padding: 25px;
}

main .item button, .stream-toggle button {
    color: var(--candy);
    background-color: #FFF;
}
main .item button:hover, .stream-toggle button:hover {
    transform: scale(1.05);
}

img {
    max-width: 100%;
}

.dice-img {
    width: var(--width);
    height: var(--width);
    margin-bottom: 25px;
}

.dice-img img {
    filter: hue-rotate(-40deg) brightness(150%) grayscale(.2);
    background-image: url('/assets/images/dice-1.png');
    background-size: contain;
    width: 100%; height: 100%;
}

.card {
    background: transparent;
    width: var(--width);
    height: calc(var(--width) + 120px);
    perspective: 1200px;
    margin-bottom: 40px;
}
.card.flip .card-wrap {
    transform: rotateY(180deg);
}
.card-wrap {
    position: relative;
    width: 100%; height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.card-style {
    border-radius: 15px;
    position: absolute;
    width: 100%; height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 25px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
}
.card-back {
    background-color: var(--candy);
    background-image: url('/assets/images/cardback.png');
    transform: rotateY(180deg);
}
.card-img {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card-img p {
    font-family: 'Milonga', cursive;
    font-size: 2em;
    color: var(--candy);
    margin: 15px 0 0;
}

.stream-toggle {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 100;
}
.stream-toggle button {
    color: limegreen;
    font-size: 1em;
    padding: 10px;
}